/* FONTS */

@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/fonts/nunito-sans-v11-latin-regular.woff2') format('woff2'),
		url('/fonts/nunito-sans-v11-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Nunito Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/fonts/nunito-sans-v11-latin-700.woff2') format('woff2'),
		url('/fonts/nunito-sans-v11-latin-700.woff') format('woff');
}

/* Variables */

:root {
	--base-color-400: #0a2d3f;
	--base-color-200: #0f384dfb;
	--text-color: #fdfdfd;
	--highlight-color: #e0251c;

	--shadow: rgb(6, 25, 34) 0px 2px 5px -1px, rgba(47, 47, 47, 0.3) 0px 1px 3px -1px;

	--header-height: 5rem;
}

html {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 18px;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--base-color-400);
}

section {
	margin-block: 0.75rem;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.3rem;
}

li {
	font-size: 0.9rem;
}

li.cool::before {
	content: '🤟';
	font-size: 0.8rem;
}

li.default::before {
	content: '•';
	font-size: 0.8rem;
}

.highlight {
	color: var(--highlight-color);
}

.center {
	margin-inline: auto;
}

@media screen and (min-width: 64rem) {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.75rem;
	}
}
